li {
  margin-top: 1%;
  margin-left: 2%;
  width: auto;
  background-color: rgb(71, 67, 67);
  border-radius: 5px;
  color: rgb(197, 168, 130);
}

.list-success {
  background-color: green;
  color: rgb(197, 168, 130);
}

.list-fail {
  background-color: rgb(235, 140, 140);
  color: white;
}

.list-notrun {
  background-color: grey;
  color: rgb(197, 168, 130);
}

.validator {
  margin-left: 5%;
  background-color: rgb(216, 126, 8);
  margin-top: 5%;
}

.list-group-item {
  border: medium solid rgb(6, 22, 36);
  box-shadow: 0px 2px 0px rgb(197, 168, 130);

}

.container-fluid {
  /* background-color: rgb(27, 43, 71); */
  background-color: rgb(6, 22, 36);
  position: fixed;
  top: 5%;
  bottom: 0px;

}

input {
  border: medium solid rgb(6, 22, 36);
}

ul {
  height: 50% !important;
  position: fixed;
  left: 0;
  right: 5%;
}

.scroll {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;

}

::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(197, 168, 130);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-create {
  background-color: rgb(216, 126, 8);
  color: white;
}