<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <br><br>
      <div class="d-flex justify-content-between">
        <h2 style="color: rgb(197, 168, 130);">Tickets</h2>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p style="color: rgb(197, 168, 130);">{{errorMessage}}</p>
      </div>
      <hr>
      <p *ngIf="tickets.length<1 && !isFetching" style="color: rgb(197, 168, 130);">No Tickets available</p>
      <ul class="list-group-sm scroll" *ngIf="tickets.length>=1 && !isFetching">
        <li [ngClass]="getResolvedState(ticket)"
          class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let ticket of tickets">
          <strong>{{ticket.ticketName}}</strong>
          <a href="{{ticket.ticketLink}}" target="_blank"> <strong>Devops bug</strong></a>
          <div class="d-flex justify-content-between">
            <button (click)="onUpdateResolvedState(0,ticket.ticketName)" class="btn btn-danger">X</button>
            <button (click)="onUpdateResolvedState(1,ticket.ticketName)" class="btn btn-success">✓</button>
          </div>
        </li>
      </ul>
      <p *ngIf="isFetching" style="color: rgb(197, 168, 130);">Loading</p>
    </div>
  </div>
</div>